<%- include("header") -%>

  <div class="maincont">
    <div>
      <header style="z-index:0;">
        <img id="Menu" class="deactivate" src="/images/menu.png" alt="">
        <div id="img-div" class="img-div invisible">
          <form action="/logout" method="post">
            <button class="button-58" style=" background-color: transparent; color: black;"
              type="submit">Logout</button>
          </form>
        </div>
        <img class="profile" style="overflow: hidden; " src="<%=imgid%>" alt="Profile pic">
        <!-- <form method='post' action='/upload' enctype="multipart/form-data">
          <input type='file' name='fileUploaded'>
          <input type='submit'>
        </form> -->


      </header>
    </div>
    <div class="body">

      <div id="container">
        <div class="box" id="heading">
          <h1>
            <%= listTitle %>
          </h1>
        </div>

        <div class="box">
          <!-- <% for (let i=0; i<newListItems.length; i++) { %>
      <div class="item">
        <input type="checkbox">
        <p><%=  newListItems[i].name  %></p>
      </div>
      <% } %> -->
          <%newListItems.forEach((item)=>{%>
            <form action="/delete" method="post">
              <div class="item">
                <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
                <p>
                  <%=item.name%>
                </p>
              </div>
              <input type="hidden" name="Listname" value="<%=listTitle%>">
            </form>
            <% }); %>

              <form class="item" action="/" method="post">
                <input type="text" name="newItem" placeholder="New Item" required
                  oninvalid="this.setCustomValidity('Please Enter your target')" oninput="setCustomValidity('')"
                  autocomplete="off">
                <button class="button1" type="submit" name="list" value="<%=listTitle%>">+</button>
              </form>
        </div>
      </div>
    </div>
  </div>

  <%- include("footer") -%>